
  .title {
    font-size: 3rem;
    margin: 20px 0;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: #1b2a4f;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    transition: transform 0.3s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    width: 90%;
    height: 380px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-card h2 {
    font-size: 1.1rem;
    margin: 10px 0 5px;
  }
  
  .product-card p {
    font-size: 1rem;
    color: #ffd700;
  }
  
  
.p-actions {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  
  .p-actions .swiper-pagination {
    width: 100%;
    height: 5%;
    text-align: center;
  } 
  
.p-actions.swiper-btn {
    cursor: pointer;
    transition: transform 0.2s;
  }
 .p-actions .swiper-btn:hover {
    transform: scale(1.2);
  }
  
 .p-actions .swiper-btn {
    position: static;
    height: 22px;
    margin: 0;
  }
 .p-actions .swiper-btn:after {
      font-size: 22px;
      color: #fff;
  }