<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale-1.0">
  <link rel="stylesheet" href="forgot_password.css">
  <title>Password Recovery Page</title>
</head>

<body>
  <div class="password-recovery-box">
    <h2>Forgot your password?</h2>
    <form>
        <div class="user-box">
            <input id="email" type="email" name="email" placeholder="Email" required />
          </div>

      <a class="submit" target="_blank" href="login.html">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Request Reset Link
      </a>

      <div class="log-in">
        <p>Back to <a class="log-in-link" target="_blank" href="login.html"><strong>Log In</strong></a></p>
      </div>

    </form>
  </div>
</body>

<div class="footer-div">
  <footer>
   
  </footer>
</div>

</html>