
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>OZBE</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/user-page/css/style.css" />
  <link rel="stylesheet" href="/user-page/css/loading.css">
  <link rel="stylesheet" href="/user-page/css/search.css">
</head>

<body>
  <div class="preloader" id="preloader">
    <div class="loader-wrapper">
      <span class="loader"></span>
    </div>
  </div>

  <div id="main-content" style="display: none; text-align: center; color: white;">
    <header>
      <div class="announcement-bar">
        <button class="prev">&#10094;</button>
        <p>OZBE HUSH KELIBSIZ!</p>
        <button class="next">&#10095;</button>
      </div>

      <nav class="navbar">
        <ul class="nav-links nav nav-underline">
          <a href="/home" class="logo"><img src="/images/logo.png" class="logo" alt="logo" /></a>
          <li class="nav-item"><a class="nav-link active" href="/home">Asosiy</a></li>
          <li class="nav-item"><a class="nav-link active" href="/shop">Do'kon</a></li>
          <li class="nav-item"><a class="nav-link active" href="contact.html">Aloqa</a></li>
        </ul>
        <div class="icons">
          <a id="openSearch"><i class="fas fa-search"></i></a>
          <div id="searchModal" class="modal">
            <div class="modal-content">
              <span id="closeModal" class="close">&times;</span>
              <input type="text" placeholder="Search here..." class="search-input" />
              <button class="submit-btn">Search</button>
            </div>
          </div>
          <a href="/login"><i class="fa-regular fa-user"></i></a>
          <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
      </nav>
    </header>

    <!-- SLIDER -->
    <div class="slide">
      <div class="swiper mySwiper gallery-slider"><!-- SLIDER uchun -->
<div class="swiper-wrapper" id="slider-wrapper"></div>
          <!-- JS orqali rasm joylanadi -->
        </div>
        <div class="swiper-actions" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
          <div class="swiper-btn swiper-button-prev"></div>
          <div class="swiper-pagination" style="position: static; width: fit-content; display: inline-flex; align-items: center; gap: 8px;"></div>
          <div class="swiper-btn swiper-button-next"></div>
        </div>
      </div>
    </div>


    <!-- CATEGORY -->
    <h2>BIR KIYIMLARNI KO'RIB CHIQINCHI!</h2>
    <div class="acc-wraper">
      <div class="accordion" id="category-images">
        <!-- JS orqali rasm joylanadi -->
      </div>
    </div>

    <!-- YANGI MAHSULOTLAR -->
    <h2>Yangilaridan</h2>
    <div class="swiper mySwiper fresh">
<!-- FRESH uchun -->
<div class="swiper-wrapper" id="fresh-images"></div>
        <!-- JS orqali rasm joylanadi -->
      </div>
      <div class="actions">
        <div class="swiper-btn swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-btn swiper-button-next"></div>
      </div>
    </div>

<!-- FAQ -->
    <div class="shopify-section shopify-section-group-footer-group">
      <div class="rb-faq-shopify-section">
        <h1 style="text-align: center; padding: 20px 20px 0px 20px; color: #222;"> KO'P BERILADIGAN SAVOLLAR </h1>
        <div class="rb-faq-container">
          <div class="rb-faq-container-item">
            <input style="display:none!important;" type="checkbox" id="tab1" class="tab-toggle">
            <label for="tab1" class="rb-faq-question">Buyurtma qancha vaqt ichida yetib keladi?</label>
            <div class="rb-faq-answer">
              <p>Yetkazib berish muddati 1 kundan 4 kungacha.</p>
              <p>Yetkazib berish narxi - 35000 so'm.</p>
              <p>Tez yetkazib berish uchun siz buyurtma berib +998978666333 raqamiga qo'ng'iroq qilishingiz kerak bo'ladi.</p>
            </div>
          </div>
          <div class="rb-faq-container-item">
            <input style="display:none!important;" type="checkbox" id="tab2" class="tab-toggle">
            <label for="tab2" class="rb-faq-question">O'lchamlar bo'yicha malumot bera olasizmi?</label>
            <div class="rb-faq-answer">
              <p>Kiyimlari ikki standart bo'lmagan o'lchamlarida mavjud.</p>
              <p>S o'lchami – bo'yi 160-175 sm.</p>
              <p>L o'lchami – bo'yi 176-190 sm.</p>
            </div>
          </div>
        </div>

        <!-- CONTACT INFO -->
        <div class="inner-column">
          <h2>Aloqa ma'lumotlari</h2>
          <ul class="list-info">
            <li><i class="fas fa-globe"></i>123 lorem ispum Abc, Street, Chandigarh.</li>
            <li><i class="far fa-envelope"></i>example@test</li>
            <li><i class="fas fa-phone"></i>1-234-567-890 <br />1-234-567-890</li>
          </ul>
          <ul class="social-icon-four">
            <li class="follow">Ozbe ijtimoiy tarmoqlarda:</li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/user-page/js/script.js"></script>
  <script src="/user-page/js/loading.js"></script>
  <script src="/user-page/js/search.js"></script>
  <script src="/user-page/js/index.js"></script>


</body>
</html>